<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Safin Ali Portfolio Server</title>
</head>
<style>
	@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500;700&display=swap');
	body{
		align-items: center;
		overflow: hidden;
		height: 100vh;
		max-height: 100vh;
		font-family: 'Josefin Sans', sans-serif;
	}
	.center{
		display: flex;
		justify-content: center;
	}
	.btn{
		background-color: #1b1b1b;
		padding: 10px;
		color: #fafafa;
		text-decoration: none;
		font-size: 18px;
		border-radius: 5px;
		display: inline-block;
		text-wrap: nowrap;
	}
	.btn:hover{
		background-color: #353535;
		transition: background-color 0.3s ease-in-out;
	}
</style>
<body class="center">
	<div>

		<h1 style="text-wrap: nowrap;">Welcome Safin Ali Portfolio Server</h1>

		<div class="center">
			<a class="btn" href="https://safin-ali.vercel.app/" target="_blank">visit portfolio</a>
		</div>

	</div>
</body>
</html>